
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
:root{
    /* --colorr:#f96724; */
    /* --colorr:#f7eb0f; */
    /* --colorr:rgb(198, 23, 177); */
    --colorr:rgb(255, 0, 144);
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    scroll-behavior: smooth;
   
}
*::selection{
    background: var(--colorr);
    color: #ffffff;
}
html{
    font-size: 57.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background-color: #222;
}
html::-webkit-scrollbar-thumb{
    /* background: var(--colorr); */
    background: linear-gradient(rgb(243, 243, 243),var(--colorr));
    border-radius: 70px;
}

body{
    background: #222;
    overflow-x: hidden;
    padding-left: 35rem;
    /* width: 100%; */
    /* height: 100vh; */
    /* background-image:linear-gradient(rgba(133, 194, 255,0.78),rgba(12,12,12,09)), url('https://images.unsplash.com/photo-1512453979798-5ea266f8880c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: fit; */
    background-attachment: fixed;
    overflow-y: hidden;
}

section{
    min-height: 100vh;
    /* padding: 1rem; */
}

.btn{
    padding: .7rem 3rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size:2rem ;
    border-radius: 5rem;
    box-shadow: 4px 4px 4px var(--colorr);
}

li:hover{
    background: linear-gradient(rgb(243,243,243,var(--colorr))) !important;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--colorr);
    /* background: linear-gradient(rgb(243, 243, 243),var(--colorr)); */
    transition: all .9s;
    box-shadow: none;
    /* box-shadow: 2px 2px 4px white; */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width:34rem;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
header .user img{
    height: 17rem;
    width: 17rem;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-bottom: 1rem;
    border: .7rem solid var(--colorr);
}
header .user .name{
    font-size: 3rem;
    color:white;
}
header .user .post{
    font-size: 2rem;
    color: #eee;
    text-align: center;
}
header nav{
    width: 100%;
}
header nav ul{
    list-style: none;
    padding: 1rem 3rem ;
}
header nav ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: #333;
    color: #fff;
    /* width: 70px; */
    font-size: 2rem;
    border-radius: 5rem;
    text-align: center;
} 
nav a:hover{
    background: var(--colorr);
    transform: scale(1.1);
    transition: all 1s;
}
#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: #333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
}
.home h1{
    font-size:5rem;
    color: #fff;
}
span{
    color: transparent !important;
    --text-stroke:2px !important;
    background: linear-gradient(rgb(243, 243, 243),var(--colorr)) !important;
    background-clip: text !important;
}
.home h1 span{
    /* color: var(--colorr); */
    color: transparent;
    --text-stroke:2px;
    background: linear-gradient(rgb(243, 243, 243),var(--colorr));
    background-clip: text;
    animation-name: name1 ;
    width: 0%;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* font-stretch:2px; */
    border-radius: 40px;
}
.home h1 span:hover{
    width: 100%;
}
@keyframes name1 {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
        --webkit-text-stroke:2px;
        background: linear-gradient(var(--colorr),rgb(243, 243, 244));
        -webkit-background-clip: text;
        /* color: red; */
        font-stretch: expanded;
    }
}
.home p{
    font-size: 2rem;
    color:#eee;
    padding: 1rem 0;
}
p i,a{
    color: var(--colorr);
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span{
    color: var(--colorr);
}

.about .row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.row img{
  width: 300px;
  margin-top: 30px;
  margin-left:100px ;
  filter: drop-shadow(-3px  -3px 5px rgb(126, 116, 116));
}
.row img:hover{
  filter: drop-shadow(0px 0px 0px );
}
.row .info{
    flex:1 1 48rem;
    padding: 1rem 2rem;
    padding-left: 6rem;
}
.info h3{
    font-size: 2rem;
    color: var(--colorr);
    padding: 1rem 0;
    font-weight: normal;
}
.info h3 span{
    color: #eee;
    padding: 0 .5rem;
}
h3 span:hover{
  transform: scale(1.1);
}
.row .counter{
    /* flex:1 1 28rem; */
    padding: 1rem 2rem;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.mepic{
  max-width: 250px;
  border: 5px solid var(--colorr);
  border-radius: 90px;
  cursor: pointer;
  margin-right: 160%;
}
.counter:hover{
    border-radius: 30px;
    cursor: pointer;
  
}
.fa-graduation-cap:hover{
    transform: scale(1.3);
}
.counter .box{
    width: 20rem;
    background: #1d1a1a;
    text-align: center;
    padding: 2rem;
    border-radius: 50px;
    margin: 2rem;
    margin-top: 20px;
}
.counter .box:hover{
  transform: scale(1.1);
  transition: all .6s;
  border-radius: 30px;
}
.counter .box span{
    font-size: 4rem;
    color: var(--colorr);
}
.counter .box h3{
    font-size: 2rem;
    color: #fff;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top:1.5rem ;
}
.education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top: -1.5rem; 
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius:50% ;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--colorr);    
}
section .skillss{
    height: 100vh;
}
.portfolio .box-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
} 
.portfolio .box-container .box{
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;    
}
.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 30rem;
    padding-bottom: 0;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
form .message{
    height: 15rem;
    resize: none;
}
.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.infoo{
    padding-left: 30px;
}
.contact .row .content .infoo h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-transform: none;
    color:#eee;
    padding: 1rem 0;
    font-weight: normal;
}
.infoo i{
    padding-right: 1rem;
    color: var(--colorr);
}
.box::placeholder{
    text-transform: capitalize;
}
.spann img{
    opacity: 0.5;
}
input{
    text-transform: uppercase;
}
.m{

    width: 100%;
}
.skill-bars {
    color: white;
    padding: 25px 30px;
    margin-right: 30px;
    width: 500px;

    
  }
  
  .skill-bars .bar {
    margin: 20px 0;
  }
  
  .skill-bars .bar:first-child {
    margin-top: 0px;
  }
  
  .skill-bars .bar .info {
    margin-bottom: 5px;
  }
  
  .skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  .my{
    width: 340px;
    cursor: pointer;
  }

  @keyframes showText {
    100% {
      opacity: 1;
    }
  }
  
  .skill-bars .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #faf6f6 !important;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
      0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(.4);
    transform-origin: left;
    background: var(--colorr) !important;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line.html span {
    width: 90%;
  }
  
  .bar .progress-line.css span {
    width: 60%;
  }
  
  .bar .progress-line.jquery span {
    width: 85%;
  }
  
  .bar .progress-line.python span {
    width: 50%;
  }
  
  .bar .progress-line.mysql span {
    width: 75%;
  }
  
  .progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #f8ffff;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  
  .progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  
  @keyframes showText2 {
    100% {
      opacity: 1;
    }
  }
  
  .progress-line.html span::after {
    content: "90%";
  }
  
  .progress-line.css span::after {
    content: "60%";
  }
  
  .progress-line.jquery span::after {
    content: "85%";
  }
  
  .progress-line.python span::after {
    content: "50%";
  }
  
  .progress-line.mysql span::after {
    content: "75%";
  }
  
  
  
  
  /* for tutorial link only */
  .links {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    line-height: 1.3;
  }
  
  .sectionn {
    --childs: 5;
    --gap: 10px;
    /* background: black; */
    /* border: 10px solid; */
    /* width: min(80%, 800px); */
    width: 100%;
    display: flex;
    gap: var(--gap);
  }
  
  .boxx {
    /* width: calc((100% / var(--childs))); */
    width: 700px;
    box-sizing: border-box;
    height: 50vh;
    background-color: white;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    transition: width 300ms 50ms ease-in-out;
    padding: 3px;
    border: 4px solid var(--colorr);
    opacity: 0.5;
  }
  
  .boxx:hover {
    height: 500px;
    transition: all 0.7s;
    transform:scale(1.1);
    opacity: 1;
    z-index: 1000;
    border-radius: 90px;
  }
  
  .sectionn:has(.box:hover) .box:not(:hover) {
    
    height: 500px;
   
  }
  
  .box-1 {
    background-image: url("me.jpg");
  }
  
  .box-2 {
    background-image: url("p1\ \(4\).jpeg");
  }
  
  .box-3 {
    background-image: url("p1 (7).jpeg");
  }
.top{
    position: fixed;
    bottom: 3rem;
    float: right;
    right: 20px;
    font-size: 2.5rem;
}
.fs{
    font-size: 2.4rem;
}
























/* media query */
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .mepic{
      margin: 30%;
    }
    .home{
        padding: 1rem 4rem  ;
    }
   
}
@media (max-width:940px){
    
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left:0%;
    }
    body{
        padding: 0;
    }
}
@media (max-width:768px){
    
   html{
    font-size: 50%;
   }
   .counter{
    flex-wrap: wrap;
}
}
@media (max-width:400px){
    
    header{
        width: 100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .row img{
      margin-right: 100px;
    }
    .about .row .counter .box{
        width: 100%;
    }
    .education .box-container .box{
        width: 100%;
    }
    .portfolio .box-container .box{
        width: 100%;
    }
    .btn{
        width: 150px;
        padding: 1rem 2rem;
        /* font-size: 10px; */
    }
    .contact .row form{
        margin: 3rem 0;
    }
    .tile{
      flex-wrap: nowrap;
    }
   
}
@media (max-width:500px) {
    .sectionn{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
    }
    /* .containere{ */
      /* flex-wrap: wrap; */
    /* } */
}



















  .containere {
    display: flex;
    /* height:  100vh; */
    width: 100vw;
    /* justify-content:center; */
    /* align-items:center; */
    margin-top: 30px;
    flex-wrap:wrap;
  
  }
  .carddd {
    /* width: 300px;*/
     /*background:pink;*/
     margin-right:40px;
     height: 500px;
     background-repeat:no-repeat;
     flex: 300px;
     flex-grow:0;
     margin-top: 10px;
     border-radius:10px;
     transition:1s all ease;
     position: relative;
     background-color:red;
     display:flex;
     margin-left: 50px;
     justify-content:center;
     align-items:center;
   }
  .carddd-3{
      background:url("ds\ \(1\).jpeg")center center ;
      margin-right:50px;
      background-size:cover;
      filter: grayscale(1);
    }
    
    .carddd-3:hover{
    /* background:url("ds\ \(2\).jpeg")left center no-repeat; */
      filter: grayscale(0);
      transform: rotate(1deg);
      background-size:cover;
     
    }
  .carddd-4{
      background:url("ds\ \(2\).jpeg")center center ;
      margin-right:50px;
      background-size:cover;
      filter: grayscale(1);
    }
    
    .carddd-4:hover{
    /* background:url("ds\ \(2\).jpeg")left center no-repeat; */
      filter: grayscale(0);
      transform: rotate(1deg);
      background-size:cover;
     
    }
  .carddd-5{
      background:url("ds\ \(3\).jpeg")center center ;
      margin-right:50px;
      background-size:cover;
      filter: grayscale(1);
    }
    
    .carddd-5:hover{
    /* background:url("ds\ \(2\).jpeg")left center no-repeat; */
      filter: grayscale(0);
      transform: rotate(1deg);
      background-size:cover;
     
    }
    
    .container {
      width:100%;
      max-width:1200px;
      float:left;
    }
    
    .projectList {
      width:100%;
      float:left;
      list-style:none;
      margin:0;
      padding:10px;
    }
    
    .projectList li {
      width:25%;
      float:left;
    }
    
    @media only screen and (max-width:1023px) {
      .projectList li {
        width:33.333%;
      }
    }
    
    @media only screen and (max-width:779px) {
      .projectList li {
        width:50%;
      }
    }
    
    @media only screen and (max-width:539px) {
      .projectList li {
        width:100%;
      }
    }
    
    .projectList li .projectWrap {
      width:100%;
      float:left;
      padding:100% 0 0 0;
      position:relative;
    }
    
    .projectList li .projectWrap .inner {
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      padding:10px;
      overflow:hidden;
    }
    
    .projectList li .projectWrap .inner .project {
      width:100%;
      height:100%;
      float:left;
      background:linear-gradient(white,var(--colorr));
      border-radius:5px;
      box-shadow:0px 2px 4px 1px rgba(56,72,84,0.1);
      padding:10px;
      position:relative;
      overflow:hidden;
      cursor:pointer;
      
      transition:transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .projectList li .projectWrap .inner .project .innerWrap {
      width:100%;
      height:100%;
      float:left;
      position:relative;
      overflow:hidden;
      border-radius:1px;
      /* -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); */
    }
    
    .projectList li .projectWrap .inner .project .innerWrap .image {
      width:100%;
      height:100%;
      float:left;
      position:relative;
      border-radius:1px;
      background-size:cover;
      background-position:center center;
      background-repeat:no-repeat;
      
      
      transition:transform 0.3s ease;
    }
    
    .projectList li .projectWrap .inner .project .innerWrap .image:before {
      content:'';
      width:100%;
      height:100%;
      position:absolute;
      border-radius:1px;
      top:0;
      left:0;
      z-index:1;
      background:rgba(56,72,84,0.5);
      opacity:0;
      
      transition:opacity 0.3s ease;
    }
    
    .projectList li .projectWrap .inner .project .innerWrap .metaWrap {
      width:100%;
      height:100px;
      position:absolute;
      bottom:0;
      left:0;
      z-index:2;
      padding:0 10px 10px;
      transform:translate3d(0px,20px,0px);
      opacity:0;
      
      transition:transform 0.3s ease, opacity 0.3s ease;
    }
    
    .projectList li .projectWrap .inner .project .innerWrap .meta {
      width:100%;
      height:100%;
      background:rgba(255,255,255,1.0);
      
      display:flex;
      flex-direction:column;
      justify-content:center;
    }
    
    .projectList li .projectWrap .inner .project:hover {
      transform:translate3d(0px,-5px,0px);
      box-shadow:0px 5px 8px 3px rgba(56,72,84,0.2);
    }
    
    .projectList li .projectWrap .inner .project:hover .image {
      transform:scale(1);
    }
    
    .projectList li .projectWrap .inner .project:hover .image:before {
      opacity:1;
    }
    
    .projectList li .projectWrap .inner .project:hover .metaWrap {
      transform:translate3d(0px,0px,0px);
      opacity:1;
    }
    
    .projectList li .projectWrap .inner .project:hover .meta h5 {
      transform:scale(1);
    }
    p {
      font-size:13px;
      font-weight:500;
    }
    h5 {
      width:100%;
      text-align:center;
      font-size:15px;
      font-weight:400;
      line-height:20px;
    }
    p.label {
      width:100%;
      text-align:center;
      color:#80919b;
      font-size:12px;
      line-height:20px;
    }
    